
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: @dashed-line;
  width: 80vw;
  margin: 0 auto;
  @media @phone{
    flex-direction: column;
  }
}

.top-content{
  .minor-spacing();
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: @dashed-line;
}


.home {    
  .content-section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @phone{
      flex-direction: column;
    }
    
    }
   
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @phone{
        width: 84%;
        margin: 0 auto;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @phone{
        width: 84%;
        margin: 0 auto;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    
    @media @phone {
      div{
        flex-direction: column-reverse;
      }
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
    
  } 
 

button{
  .btn-style();
}