// Mixins in here

.btn-style(){
    background-color:#008080; 
    color: #fff;
    width: 22vw;
    border-radius: 25%;
    padding: 5% 0;
    font-weight: bold;
}

.minor-spacing(){
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
}


//Escaping 
@phone: ~"(max-width: 500px)";