// Navigation Styles here
nav {
    display: flex; 
    width: 36vw;
    justify-content: space-between;
    .minor-spacing();
    padding-right: 20px;

    a{
        display: inline;
        text-align: right;
        text-decoration: none;
        font-size: 1.6rem;
        color: black;
    
        &:hover{
            color: @eastern-blue;
            font-weight: bold;
        }
    }

}
